/* ***************************************  *\
                 Navbar 
\* ***************************************  */
.navbar p {
    margin-bottom: 0;
    padding-right: 20px;
}
.navbar {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);  
}
.navbar-brand {
    font-size: 1.3em;
    color: #333333 !important;
    padding-left: 0;
}
.navbar a {
    color: #333333;
    text-decoration: none;
}
.navbar a:hover {
    color: #333333;
    text-decoration: none;
}
/*------------------------------------------*/
/*------------------------------------------*/


/* ***************************************  *\
                 Login 
\* ***************************************  */
.login-panel {
    width: 320px;
    min-height: 350px;
    background: white;
    padding: 0 35px;
    border-radius: 2px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
/*------------------------------------------*/
/*------------------------------------------*/



/* ***************************************  *\
                 Custom 
\* ***************************************  */
* {
    font-size: 0.98em;
}
.blue {
    color: #5BA9FD!important;
}
.u-line {
    border-bottom: 2px solid #5BA9FD;
}
.purple-bg {
    background: linear-gradient(141deg, #736EFE 0%, #8099F2 51%)
}
.white-bg {
    background-color: #F8F9FD
}
.grey-bg {
    background-color: #f5f5f5;
}
.content-container {
    min-height: 83vh;
}
/*------------------------------------------*/
/*------------------------------------------*/


/* ***************************************  *\
                 Breadcrumb 
\* ***************************************  */
.breadcrumb {
    background-color: f5f5f5;
}
/*------------------------------------------*/
/*------------------------------------------*/



/* ***************************************  *\
                 Cards 
\* ***************************************  */
.card-info {
    background: rgba(183, 233, 252, 0.4);
    border: 1px solid rgb(193, 232, 253);
}
.card-success {
    background: rgba(99, 226, 150, 0.28);
    border: 1px solid #aff1d0;
}
.card-danger {
    background: rgb(255, 166, 162);
    border: 1px solid #ffa29e;
    color: #333333;
}
/*------------------------------------------*/
/*------------------------------------------*/



/* ***************************************  *\
                 Tables 
\* ***************************************  */
.custom-table {
    background: #ffffff;
    border-radius: 3px;
}
.table-hover tbody tr:hover {
    background-color: rgba(0,0,0,.025);
}
/*------------------------------------------*/
/*------------------------------------------*/



/* ***************************************  *\
             Header Texts 
\* ***************************************  */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400 !important;
}
/*------------------------------------------*/
/*------------------------------------------*/



/* ***************************************  *\
                Form Controls 
\* ***************************************  */
.form-control {
    margin-bottom: .75rem;
    border-radius: 2px;
}
label {
    margin-bottom: 3px;
    color: #736D71;
}
.errorlist li {
    color: #ce3927;
}
/*-------------------------------------------*/
/*-------------------------------------------*/



/* ***************************************  *\
                    Buttons 
\* ***************************************  */

.btn-lg {
    padding: .8rem 1.2rem;
}

a.btn:hover, .btn:hover  {
    cursor: pointer;
}
.btn-success {
    border-color: #89E5B0;
    background-color: #5EDC90;
}
.btn-success:hover {
    border-color: #89E5B0;
    background-color: #4ecc80;
}
.btn-secondary {
    color: #736D71 !important;
    background: none;
    border-color: #D1DCE4;    
}
.btn-secondary:hover {
    background-color: #fff;
    border-color: #C4C5C1;    
}
.info:hover {
    color: #5BA9FE!important;
    border-color: #5BA9FE; 
}
a.btn, .btn {
    color: #FBFEFF;
    padding: .5rem .9rem;
    font-size: .88rem;
    border-radius: 3px;
    transition: all ease-in .3s;
}
.btn-si {
    background-position: 1em;
    background-repeat: no-repeat;
    background-size: 2em;
    border-radius: 0.5em;
    border: none;
    color: #FBFEFF;
    cursor: pointer;
    font-size: 1em;
    height: 4em;
    line-height: 1em;
    text-decoration: none;
    transition: all 0.5s; 
    padding: 20px 15px 20px 60px !important;
    font-family: arial;
}
.btn-google {
    background-color: #dd4b39;
    background-image: url("../img/google.svg");
    transition: all 0.5s cubic-bezier(.25,.8,.25,1);    
}
.btn-google:hover {
    background-color: #ce3927; 
    text-decoration: none;
    color: #FBFEFF;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.btn-google:active {
    background-color: #c23321; 
    text-decoration: none;
    color: #FBFEFF;
}
.danger:hover {
    color: #e86464!important;
    border-color: #e86464; 
}
/*------------------------------------------*/
/*------------------------------------------*/