{% extends 'base.html' %}
{% block title %}
    Unauthorized!
{% endblock %}

{% block content %}
<div class="container-fluid  white-bg">
    <div class="content-container p-5">
        {% include "breadcrumbs.html" %}
        <div>
            <div class="card card-inverse card-danger my-5">
                <div class="card-block">
                    <p>You are not authorized to perform this action.</p>
                    <p>You can only modify and delete accounts you created.</p>
                    <a href="{% url "dashboard" %}">Back</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}