{% extends 'base.html' %}
{% block title %}
    Delete {{ object }}
{% endblock %}

{% block content %}
<div class="container-fluid  white-bg">
    <div class="content-container p-5">
        {% include "breadcrumbs.html" with action="Delete" %}

        <form action="" method="post">{% csrf_token %}
            <div class="alert alert-danger" role="alert">
                <strong>Delete "{{ object }}"?</strong>
                <p class="pt-4">Do you wish to proceed with this action ?</p>
            </div>

            <input type="submit" value="Confirm" />
        </form>
    </div>
</div>
{% endblock %}