{% extends "base.html" %}

{% block title %} 
    Qbank - Login to your account 
{% endblock %}

{% block content %}
<div class="row purple-bg align-self-center d-flex">
    <div class="container-fluid content-container">
        <div class="panel panel-default login-panel">
            <div class="panel-body">
                <p>Welcome to Qbank.</p>
                <p>Login to your account manage your users.</p>
                <br> <br>
                <a class="btn-si btn-google" href="auth/login/google-oauth2">Sign in with Google</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}