{% extends "base.html" %} 

{% block title %}Dashboard{% endblock %} 

{% block content %}

<div class="container-fluid  white-bg">
    <div class="content-container p-5">
        {% if accounts %}
        <div class="d-flex justify-content-end pb-4">
            <h5 class="mr-auto p-2 blue u-line">Accounts</h5>
            <div class="p-2">
                <a class="btn btn-success" href="{% url "account:account_create" %}">Create New Account</a>
            </div>
        </div>
        <table class="table table-hover custom-table px-4">
            <thead>
                <tr>
                <th>#</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>IBAN</th>
                <th></th>
                </tr>
            </thead>
            <tbody>
                {% for account in accounts %}            
                    <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ account.firstname |title }}</td>
                    <td>{{ account.lastname |title }}</td>
                    <td class="bold">{{ account.iban }}</td>
                    <td class="d-flex justify-content-end">
                        <a class="btn btn-secondary info" href="{% url "account:account_edit" account.id %}">Edit</a>
                        &nbsp; &nbsp;
                        <a class="btn btn-secondary danger" href="{% url "account:account_delete" account.id %}">Delete</a>
                        <span class="visual-clue {% if account.creator == user or user.is_superuser %}allowed{% endif %}">&nbsp;&nbsp; &#8226; </span>
                    </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
            <div class="alert alert-info" role="alert">
                <strong>Welcome!</strong> 
                <br >                
                <br >                
                <p>There are currently no accounts on the system.</p>
                <br >            
                <a href="{% url "account:account_create" %}">Get started by adding a new account</a> 
            </div>
        {% endif %}
    </div>
</div>

{% endblock %}